* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#search-body-scope {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-book-scope {
    border-radius: 10px;
    width: 30%;
    height: 80%;
    background-color: #192030;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#search-area-scope {
    padding-top: 2%;
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;


}

#search-area {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #192030;
    text-indent: 10px;
    color: #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

}

#search-area-btn {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
    background-color: #4b4b4b;
}

#search-area-exit {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4b4b4b;
    color: white;
}

#search-area-btn:hover,
#search-area-exit:hover {
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.2);
}

#search-book-find {
    padding-top: 2.5%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.search-book-recomendation {
    width: 95%;
    display: flex;
    height: min-content;
    align-items: center;
    text-indent: 5px;
    color: #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    word-break: break-all;
}

.search-book-recomendation:hover {
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.2);
}

a {
    text-decoration: none;
}

.search-book-recomendation-text {
    font-family: sans-serif;
    font-size: 12pt;
    color: #d3d3d3;
    text-decoration: none;
}

    @media screen and (max-width: 900px) {
        #search-book-scope {
            width: 80%;
            height: 70%;
        }
        
    }