#download-scope{
    background-color: ghostwhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#donwload-info-scope{
    display: flex;
    gap: 2px;
}

#download-input-url:focus{
    border: 1px solid gray;
}
