* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=================== Sidebar  */
#personal_dashboard_sidebar_scope {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 5px;
}


/*=================== Time  */

#personal_dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: #3b3b3b; */
}

#personal_dashboard_main_scope {
  flex-grow: 1;
  display: flex;
  padding: 2%;
  gap: 2.5%;
  /* background-color: #252525; */
  background-color: whitesmoke;
}



#personal_dashboard_main_scope_time {
  width: 45%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

#personal_dashboard_main_scope_time_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  border-radius: 10px;
  background-color: #e7e7e7;
}



#personal_dashboard_main_scope_time_value {
  padding: 10px;
  height: 73%;
  border-radius: 5px;
}



/*=================== Todo  */

#personal_dashboard_main_scope_todo {
  width: 40vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}


/*=================== Days  */

#personal_dashboard_main_scope_days {
  width: 45%;
  height: 100%;
  gap: 10px;
    display: flex;
  flex-direction: column;
  border-radius: 10px;
}



#personal_dashboard_main_scope_days_container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #e7e7e7;
}

/*=================== Sequence  */

#personal_dashboard_main_scope_sequence {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e7e7e7;
  border-radius: 10px;
}