*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: 62.5%
}

html{
    overflow: hidden;
}


.teste{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    height: 130px;
    width: auto;
    background-color: rgb(94, 184, 184);
}