*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#PageNotFound-body{
    width: 100vw;
    height: 100vh;
    background-color: #041620;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pg-container{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

span {
    color: #5cb351;
}

#pg-title{
    font-size: 45pt;
    font-weight: bold;
    color: #ffffff;
}

#pg-description{
    color: #7dcdc7;
}



#pg-footer{
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    color: #ffffff;
    /* background-color: tomato; */
}

#pg-footer p:hover{
    cursor: pointer;
    text-decoration: underline;
}

#pg-button{
    width: 70%;
    height: 100%;
    border: 3px solid #5cb351;
    background: transparent;
    color: white;
    font-size: 16pt;
    font-weight: bold;
}

#pg-button:hover{
    cursor: pointer;
    background: rgb(92, 179, 81, 0.1);
    color: white;
}

@media screen and (max-width: 500px) {
    #pg-container {
        width: 80%;
        height: 60%;
    }

    #pg-title {
        font-size: 30pt;
    }

    #pg-description {
        font-size: 12pt;
    }

    #pg-footer {
        width: 100%;
        height: 15%;
    }

    #pg-button {
        height: 70%;
        width: 50%;
    }
}