* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personal_dashboard_main_scope_todo {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

#Todo-header {
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444343;
    border-bottom: 1px solid gray;
}

#Todo-header h2:hover {
    font-size: 2rem;
    cursor: pointer;
    color: aqua;
    transition: .2s ease-in-out;

}

#Todo-add-task {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Todo-add-input {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 20%;
    border: none;
    border-bottom: 1px solid gray;
    color: #444343;
    text-indent: 10px;
}


#Todo-main {
    width: 100%;
    height: 90%;
    display: flex;
    gap: 5%;
    margin-top: 10%;
    flex-direction: column;
    color: #7e7d7d;
    align-items: center;
}

#Todo-main h2 {
    color: #444343;
}


#Todo-main-btn {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
}

#Todo-main-btn:hover {
    cursor: pointer;
    background-color: #444343;
    color: aliceblue;
}


#Todo-main-task {
    width: 95%;
    height: 90%;
    display: flex;
    gap: 5%;
    margin-top: 2%;
    flex-direction: column;
    color: #7e7d7d;
    overflow-y: scroll;

}

#Todo-task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid gray;
}


#Todo-task-btn {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Todo-task-btn p:hover {
    cursor: pointer;
    color: red;
}

.Todo-check {
    width: 35px;
    height: 100%;
}

.Todo-check:hover {
    cursor: pointer;
}

#Todo-false:checked {
    content: "X";
}