*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 62.5%;
}

#Login-Scope{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#login-form-scope{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#login-title{
    font-size: 50pt;
}

#login-input-scope{
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.login-btn{
    cursor: pointer;
    width: 100px;
    height: 35px;
}

.login-input{
    width: 80%;
    height: 35px;
    background-color: gainsboro;
    border: none;
    text-indent: 10px;
    border-radius: 5px;
}

#login-btn-scope{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

#login-btn-recrutadores{
    width: 55%;
}