* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reader-root{
    width: 100%;
    height: 100%;
    background-color: white;
}

#reader-header {

    background-attachment: fixed;
    background-color: #f5f5f5;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#reader-header-deactive{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader-header-active {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 20%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#reader-settings{
    gap: 20px;
}

.icon{
    width: 30px;
    height: 30px;
}

.icon:hover{
    cursor: pointer;
}
#reader-scope{
    width: 100%;
    height: 97.5%;
    margin-top: 20px;
}

#reader-notes{
    padding: 5px;
    width: 100%;
    height: 95%;
    text-indent: 10px;
    background-color: white;
}

#save-notes{
    width: 100%;
    height: 30px;
    background-color: #5cb351;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reader-header-active,
#reader-header-deactive{
    background-color: white;
}

#reader-header-active h2:hover,
#reader-header-deactive h2:hover {
    cursor: pointer;
}

#reader-settings-content{
    padding: 5px;
    width: 100%;
    height: 100%;
    text-indent: 10px;
    font-size: 20pt;
    border: 1px solid #ccc;
}