*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.project-body{
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle, #525be8, #3a4ba3);
}

.project-yt{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    gap: 2.5%;
}

#project-videos{
    position: relative;
    overflow-y: hidden;
}

.project-videos video {
    border-radius: 10px;
}


#project-video-subtitle{
    position: absolute;
}

.project-notes-scope{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
}

.project-notes{
    width: 95%;
    height: 98%;
}



#project-notes-header{
    width: 100%;
    height: 10%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#project-notes-header-text{
    width: 100%;
    height: 100%;
    background-color: #525be8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-notes-item{
    font-family: sans-serif;
    font-size: 13pt;
    width: 100%;
    height: 90%;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: #fff;
    border: none;
    outline: none;
} 

#project-notes-save{
    position: absolute;
    bottom: 30px;
    right: 40px;
    width: 90px;
    height: 30px;
    background-color: #f5d821; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#project-notes-save:hover{
    cursor: pointer;
    background-color: rgba(255,255,0,0.7);
}

#project-video-url{
    width: 80%;
    height: 5%;
    border-radius: 10px;
    background-color: #525be8;
    display: flex;
}


#project-video-url-input{
    width: 87.5%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: none;
    text-indent: 10px;
    background-color: transparent;
    color: white;
}

#project-video-url-input::placeholder{
    color: #f8f8ff;
}

#project-video-url-btn{
    width: 12.5%;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #f5d821;
}

#project-video-url-btn:hover{
    cursor: pointer;
    background-color: rgba(255,255,0,0.8);
}

#project-videos{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    background-color: #252525;
}

#project-video-space{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#project-video-transcription{
    width: 90%;
    height: 10%;
    background-color: #252525;
}

#project-transcript-scope{    
    width: 90%;
    height: 100px;
    background-color: #252525;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}

#project-file-videos-scope{
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
}

#project-notes-alert-save{
    font-size: 9pt;
    margin-left: 2%;
    position: absolute;
    bottom: 7.5%;
    color: #b9b9bb;
}