/* AcumuladoBox.css */
.acumulado-box {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 12px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
