*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.default-style-cursor{
    position: absolute;
    width: 25px;
    height: 100px;
    background-image: url("../image/hand.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#default-body{
    width: 100vw;
    height: 500vh;
}

#default-header-scope{
    background: radial-gradient(circle, #525be8, #3a4ba3);
    width: 100vw;
    height: 85vh;
    display: flex;flex-direction: column;
}

#default-header{
    padding: 0 10px 0 10px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#default-header-logo-scope,
#default-header-btns-scope{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: white;
}

#default-header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    gap: 50px;
}

#default-header-links a:hover{
    text-decoration: underline;
}

#default-header-links a{
    color: #000;
    text-decoration: none;
}



#default-header-btns-scope{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-right: 10px;
}

#default-header-btn-login,
#default-header-btn-join{
    width: 45%;
    height: 6cqmin;
    background: transparent;
    border: none;
}

#default-header-btn-join{
    border: 2px solid white;
    color: white;
}

#default-header-btn-join:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

#default-header-btn-login:hover{
    cursor: pointer;
    border: .5px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.default-style-bolls{
    background-image: url("C:\Users\plogl\Dev\First_Saas\SchoolSchedule\src\front-end\school-schedule\src\image\bolls.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}

.default-style-trhee-bolls{
    background-image: url("C:\Users\plogl\Dev\First_Saas\SchoolSchedule\src\front-end\school-schedule\src\image\TrheeBolls.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
}

.default-style-multiple{
    background-image: url("C:\Users\plogl\Dev\First_Saas\SchoolSchedule\src\front-end\school-schedule\src\image\multiple.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 170px;
    height: 200px;
    position: absolute;
}

#first-ball{
    top: 80px;
    left: 5rem;
}

#second-ball{
    top: 350px;
    left: 35rem;
}

#trhee-ball{
    top: 1px;
    left: 55rem;
}



#default-introduction-scope{
    width: 100vw;
    height: 75vh;
}

#default-text-scope{
    width: 60vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 18pt;
    flex-direction: column;
}

#default-text-main{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11pt;
}

#default-text-main h1{
    font-size: 24pt;
}


#default-introduction-btn-scope{
    position: relative;
    top: 20%;
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#default-introduction-btn-scope a{
    color: white;
    text-decoration: none;
}

#default-introduction-btn-scope a:hover{
    text-decoration: underline;
}

.Default-join-btn{
    height: 40px;
    width: 120px;
    background-color: #f5d821;
    border: 1px solid white;
}

.Default-join-btn:hover{
    cursor: pointer;
    background-color: #f7d127e6;
}

#default-first-part-scope{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#default-videos-page-layout{
    width: 80%;
    height: 100%;
    background: radial-gradient(circle, #525be8, #3a4ba3);
    position: relative;
    top: -5rem;
    border-radius: 10px;
    padding: 2.5%;
    display: flex;
    justify-content: space-evenly;
}

#default-video-and-downloader-scope-layout{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#default-video-and-download-layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

#default-video{
    border-radius: 10px;
    width: 100%;
    height: 50%;
    background-image: url("../videos/youtubeimage.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#default-video-subtitles{
    border-radius: 5px ;
    width: 100%;
    height: 10%;
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    font-size: 12pt;
    padding: 10px;
    margin-bottom: 10px;
}

#default-video-subtitles span{
    color: #5cb351;
}

#default-downloader-scope-layout{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 5%;
}

#default-downloader-input{
    width: 50%;
    height: 30%;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white
}

#default-downloader-btn{
    width: 12.5%;
    height: 30%;
    background-color: #f5d821;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#default-downloader-btn:hover,
#default-downloader-input:hover,
#default-write-btn-save:hover{
    cursor: default;
}


#default-write-scope-layout{
    width: 30%;
    height: 100%;
    background-color: rgb(37, 37, 37);
    border-radius: 5px ;
    color: white;
    padding: 5px;
    overflow-wrap: break-word;
}

#default-write-header{
    width: 100%;
    height: 10%;
    background-color: #525be8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#default-write-scope-layout p{
    text-decoration: underline;
}

#default-write-btn-save{
    width: 25%;
    height: 5%;
    background-color: #f5d821;
    position: relative;
    bottom: -70%;
    right: -70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 5px;
}


.default-line-separator{
    width: 50vw;
    height: 200vh;
    background-image: url("../image/line.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    position: absolute;
    top: 160vh;
    right: 25vw;
    z-index: -10;
}

#default-first-right-info-scope,
#default-second-right-info-scope,
#default-first-left-info-scope,
#default-second-left-info-scope{
    width: 500px;
    height: 300px;
    /* background-color: #3a4ba3; */
    border-radius: 20px;
}


h2 span{
    color: #5cb351;
}

.default-join-btn-for-info{
    margin-top: 30px;
}

#default-first-right-info-scope{
    position: relative;
    right: -60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#default-second-right-info-scope{
    position: relative;
    right: -60%;
    top: 2%
}


#default-first-left-info-scope{
    position: relative;
    right: -7%
}

#default-second-left-info-scope{
    position: relative;
    right: -7%;
    top: 2%;

}


#default-private-rooms-scope{
    width: 100vw;
    height: 90vh;
    background-color: #3a4ba3;
    display: flex;
}

#default-private-rooms-info{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    color: white;
}

#default-private-rooms-layout{
    width: 70%;
    height: 100%;
    background-color: #525be8;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#default-private-room{
    width: 85%;
    height: 85%;
    display: flex;
    gap: 1%;
}

#default-private-room-friends-scope{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3a4ba3;
    border-radius: 10px 0 0 10px;
}

#default-private-room-chat{
    width: 69%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#default-private-room-add-friends{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.default-private-room-friends{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#default-private-room-friend-selected{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 0 0;
    box-shadow: 1px 3px 10px;
    border-bottom: none;
}

#first-cursor{
    top: 363%;
    left: 53%;
}

#default-private-room-chat-area{
    width: 100%;
    height: 87%;
    display: flex;
}

#default-private-room-chat-area-left,
#default-private-room-chat-area-right{
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 10px;
    color: white;
}

#default-private-room-chat-area-right{
    text-align: right;
    padding-right: 10px;
    margin-top: 15px;
}


#default-private-room-chat-input{
    width: 80%;
    height: 8%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#default-line-2{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.default-arrow-separator{
    width: 100%;
    height: 100%;
    background-image: url("../image/Union.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#default-arrow-separator-text{
    width: 100vw;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#default-footer{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to right,#3a4ba3, #525be8, #6f3fdf);
    margin-top: 10px;
    display: flex;
}

#default-footer-info{
    width: 60%;
    height: 100%;
    display: flex;
}

/* 
#f5d821 // AMARELO
#525be8 // AZUL PRINCIPAL
#3a4ba3 // AZUL MAIS FRACO
#5cb351 // VERDE
#b08ec1 // ROXO
#333966 // AZUL ESCURO
*/