*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bona Nova SC", sans-serif;
}

input:focus{
    outline: 0;
    border: 0px;
}

.Home-body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Home-sideBar-Scope{
    width: 21%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 5%;
    font-size: 15pt;
    border: 1px solid gainsboro
}

.Home-sideBar-tittle{
    width: 100%;
    height: 10%;
}

.Home-sideBar-list,
.Home-sideBar-workSpace{
    font-size: 9pt;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Home-sideBar-list{
    width: 100%;
    height: 40%;
    gap: 20px;
}

.Home-sideBar-list img {
    width: 25px;
    height: 25px;
}



.Home-sideBar-list-comunity{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.Home-sideBar-list-comunity:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.Home-sideBar-workSpace{
    width: 100%;
    height: 30%;
}

.Home-sideBar-workSpace p {
    font-size: 14pt;
    color: gray;
    font-weight: bold;
}

.Home-Main-Scope{
    width: 79%;
    height: 100%;
    background-color: whitesmoke;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}

.Home-Main-Header{
    border-radius: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    padding: 10px;
    align-items: center;
}

.Home-Main-Header-search{
    width: 25%;
    height: 100%;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: gray;
    padding: 20px;
    gap: 10px;
}

.Home-Main-Header-search-input{
    font-size: 13pt;
    position: relative;
    width: 100%;
    border: 0px;
    background-color: gainsboro;
    height: 30px;
}

.Home-Main-Header-search img{
    width: 15px;
}


.Home-Main-Introduction{
    width: 100%;
    height: 30%;
    /* background-color: white; */
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1698138819865-88d3add4838f?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    color: rgb(58, 58, 58);
    text-indent: 10px;
    display: flex;
    gap: 21rem;
    align-items: center;
}

.Home-Main-Content{
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
}

