*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bona Nova SC", sans-serif;
}

.Home-body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Home-sideBar-Scope{
    width: 21%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 5%;
    font-size: 15pt;
    border: 1px solid gainsboro
}

.Home-sideBar-tittle{
    width: 100%;
    height: 10%;
}

.Home-sideBar-list,
.Home-sideBar-workSpace{
    font-size: 13pt;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Home-sideBar-list{
    width: 100%;
    height: 40%;
    gap: 20px;
}

.Home-sideBar-list img {
    width: 25px;
    height: 25px;
}



.Home-sideBar-list-comunity{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    font-size: 11pt;
    border-radius: 5px;
}

.Home-sideBar-list-comunity:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.Home-sideBar-workSpace{
    width: 100%;
    height: 30%;
}

.Home-sideBar-workSpace p {
    font-size: 14pt;
    color: gray;
    font-weight: bold;
}

.Home-Main-Scope{
    width: 79%;
    height: 100%;
    background-color: whitesmoke;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.Home-Main-Header{
    border-radius: 20px;
    width: 100%;
    height: 10%;
    background-color: rgba(212, 209, 209, 0.486);
}

.Home-Main-Introduction{
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
}

.Home-Main-Content{
    width: 100%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}

