*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Home-body{
    width: 100vw;
    height: 100vh;
    display: flex;
}


.Home-sideBar-Scope{
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 5%;
    font-size: 15pt;
}

.Home-sideBar-tittle{
    width: 100%;
    height: 10%;
}

.Home-sideBar-list,
.Home-sideBar-workSpace{
    font-size: 13pt;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Home-sideBar-list{
    width: 100%;
    height: 40%;
}

.Home-sideBar-list-comunity{
    width: 100%;
    height: auto;
}

.Home-sideBar-list-comunity:hover{
    cursor: pointer;
    background-color: #cbeedf;
    border-radius: 5px;
}

.Home-sideBar-workSpace{
    width: 100%;
    height: 30%;
}

.Home-sideBar-workSpace p {
    font-size: 14pt;
    color: gray;
    font-weight: bold;
}

.Home-Main-Scope{
    width: 75%;
    height: 100%;
    background-color: #3FA77B;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.Home-Main-Header{
    border-radius: 20px;
    width: 100%;
    height: 10%;
    background-color: white;
}

.Home-Main-Introduction{
    width: 100%;
    height: 30%;
    background-color: white;
}

.Home-Main-Content{
    width: 100%;
    height: 50%;
    background-color: white;
}

