*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.register-scope{
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    width: 28%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

.register-header{
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71ff71;
    height: 5%;
    width: 60%;
}

.register-fields{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 60%;
    gap: 10%;
}

.register-field{
    height: 60px;
}

.register-field p {
    font-family: sans-serif;
    font-size: 10pt;
    margin-bottom: 5px;
}

.register-input-text{
    text-indent: 5px;
    height: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(1, 211, 36);
}

.register-input-submit{
    background-color: #71ff71;
    border: 1px solid #e3ece0;
    border-radius: 20px;
    height: 50px;
    width: 60%;
}

.register-input-submit:hover{
    cursor: pointer;
    transition: .25s ease-in-out;
    background-color: #4fee4f;
}