.landingBody{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 200vh;
}

header{
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10%;
    border-radius: 10px;
    border-bottom: 1px solid #ffffff;
    margin: auto;
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

.nav .logo{
    text-indent: 10px;
}

.ListLink{
    padding: 10px;
    display: flex;
    gap: 10px;
    list-style: none;
}


.ListLink li:hover{
    cursor: pointer;
    color: #3FA77B;
}



.login{
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 28%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.btn-log{
    color: white;
    border-radius: 5px;
    height: 60%;
    width: 25%;
    background-color: #3FA77B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-log:hover{
    cursor: pointer;
    background-color: #2a9267;
}

#tryFree{
    font-family: Arial, Helvetica, sans-serif;
    height: 60%;
    width: 65%;
}

.introduction{
    display: flex;
    height: 90vh;
    width: 100vw;
    background-color: #3FA77B;
    align-items: center;
}

.outDoor{
    color: white;
    padding: 10px;
    margin-left: 100px;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50%;
}

span{
    color: black;
}

.content{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 2%;
}

.landing-banner-One,
.landing-banner-Two{
    font-size: 15pt;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 48%;
}


#img-banner-one{
    border-radius: 10px;
    height: 100%;
}

.banner-info{
    border-radius: 10px;
    /* background-color: #2a9267; */
    height: 100%;
    width: 100%;
}

.landing-banner-Two .banner-info{
    display: flex;
    flex-direction: row-reverse;
}

.banner-titulo{
    font-family: sans-serif;
    height: 80%;
    width: 80%;
}

.banner-titulo p {
    color: gray;
    margin-top: 10px;
    font-size: smaller;
}

.banner-atributes{
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #2a9267; */
    height: 20%;
    width: 60%;
}


.banner-check-atributes{
    /* background-color: #3FA77B; */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

