@media screen and (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #body {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-color: #041620;
  }

  #header {
    width: 100%;
    height: 5%;
    display: flex;
    transition: 0.3s ease;
  }

  #header-img {
    padding: 10px;
  }

  #portfolio-more {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hamburger {
    position: fixed;
    width: 40px;
    height: 30px;
    top: 3%;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bar {
    height: 4px;
    background: #5cb351;
    border-radius: 2px;
    transition: all 0.4s ease;
    transform-origin: center;
  }

  .bar1 {
    width: 100%;
    background-color: #5cb351;
  }

  .bar2 {
    width: 100%;
    background-color: #5cb351;
  }

  .bar3 {
    width: 100%;
    background-color: #5cb351;
  }

  .hamburger.open .bar1 {
    transform: rotate(45deg) translateY(10px);
  }

  .hamburger.open .bar2 {
    opacity: 0;
    transform: scaleX(0);
  }

  .hamburger.open .bar3 {
    transform: rotate(-45deg) translateY(-10px);
  }

  .sidebar {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: #222;
    color: white;
    padding: 80px 20px;
    transition: 0.3s ease;
    z-index: 1000;
  }

  .sidebar.show {
    right: 0;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li {
    margin: 20px 0;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .sidebar li a:hover {
    border-bottom: 1px solid #5cb351;
  }

  #introduction {
    width: 100%;
    height: 20%;
    padding: 10px;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  span {
    color: #5cb351;
  }

  #main-first-text-scope {
    width: 100%;
    height: 70%;
    color: white;
    opacity: 10px;
    border-radius: 10px;
    overflow-y: hidden;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
  }

  #main-first-text-scope p {
    color: #c2c2c2
  }

  #main-first-description {
    font-size: 11pt;
    width: 100%;
    height: 25%;
    word-wrap: break-word;
    color: #c2c2c2;
  }

  #main-first-button-scope {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  #main-search-btn{
    border-radius: 0;
    width: 30%;
    height: 100%;
    border: 3px solid #5cb351;
    background: transparent;
    color: white;
  }

  #library-menu-scope{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .library-book-scope{
    border-radius: 5px;
    width: 50%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #img-1{
    background-image: url("../../assets/images/poor_folk.jpg");
  }
  
  #img-2{
    background-image: url("../../assets/images/prince.jpg");
  }

  #img-3{
    background-image: url("../../assets/images/seneca.jpg");
  }

}