*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Contact-friend-scope{
    width: 100%;
    height: 10%;
    border-bottom: .5px solid rgba(255, 255, 255, 0.1);
    display: flex;
    color: #dbdada;
}

#Contact-friend-scope:hover{
    cursor: pointer;
    color: #000;
    background-color: #dbdada;
}




#Contact-image-user{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../image/profile.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}



#Contact-info-scope{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-indent: 10px;
    justify-content: center;
}

#Contact-leastmessage{
    color: #888787;
}
