*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#Contact-image-user{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Contact-info-scope{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-indent: 10px;
    justify-content: center;
}

#Contact-leastmessage{
    color: rgb(46, 46, 46);
}
