* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#translate-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #041620;
}


#translate-welcome {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30%;
    padding-top: 1%;
}


#back-icon-scope {
    width: 90%;
    height: 5%;
    display: flex;
    cursor: pointer;
}

#back-icon {
    width: 5%;
    height: 100%;
}

#translate-welcome-text {
    text-indent: 10px;
    width: 90%;
    font-size: 25pt;
    color: #d3d3d3;
}

#translate-welcome span {
    font-size: 35pt;
    color: #5cb351;
    margin-top: 10px;
}

/*================================== MAIN */

#translate-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#translate-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    color: #d3d3d3;
}

#translate-upload-button {
    background-color: #5cb351;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16pt;
    cursor: pointer;
    transition: background-color 0.3s;
}

#translate-upload-button:hover {
    background-color: #4cae4f;
}

#translate-wait-message {
    color: #7dcdc7;
    font-size: 11pt;
}



@media screen and (max-width: 500px) {
    #translate-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #translate-welcome,
    #translate-main {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #back-icon-scope {
        width: 90%;
        height: 10%;
        display: flex;
        cursor: pointer;
    }

    #back-icon {
        width: 10%;
        height: 100%;
    }

    #translate-welcome-text {
        font-size: 18pt;
    }

    #translate-welcome span {
        font-size: 24pt;
    }

    #translate-main-content {
        width: 90%;
    }

    #translate-upload-button {
        width: 100%;
    }

    #translate-wait-message {
        font-size: 10pt;
    }
}   