* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#reader-header-deactive {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader-header-active {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 20%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reader-settings {
    width: 100%;
    height: 2.5%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

#reader-scope {
    width: 100%;
    height: 97.5%;
    margin-top: 20px;
}

#reader-notes {
    padding: 5px;
    width: 100%;
    height: 100%;
    text-indent: 10px;
}


#reader-settings{
    gap: 20px;
}

.icon{
    width: 30px;
    height: 30px;
}

.icon:hover{
    cursor: pointer;
}

@media screen {
    #reader-header-deactive {
        width: 50%;
        height: 5%;
    }

    #reader-header-active {
        width: 50%;
        height: 95vh;
    }

    #reader-settings {
        height: 2.5%;
    }

    #reader-scope {
        width: 200vw;
        height: 100%;

    }

    #reader-notes {
        width: 100%;
        height: 100%;
        font-size: 16pt;

    }

    #save-notes{
    width: 100%;
    height: 30px;
    background-color: #5cb351;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
}